.flex-container{
    display: flex;
    height: 825px;
    /* align-items: stretch; */
    /* align-items: center; */
    /* align-items: flex-end; */
    align-items: flex-start;
    /* justify-content:end; */
    /* justify-content:center; */
    /* justify-self: start; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* justify-content:space-evenly; */
    /* flex-direction: column; */
    flex-direction: row;
}

.item1,.item2,.item3{
    background-color: rgb(15, 163, 212);
    padding:12px;
    border-style:solid;
    border-width:2px;
    border-color: rgb(2, 56, 26);
    width:20%;
}

.item1{
    /* order: 1; */
    /* flex:1 */
}
.item2{
    /* order: 3; */
    /* flex: 1; */
    align-self: center;
}
.item3{
    /* order: 2; */
    /* flex: 1; */
    align-self: flex-end;
    
}